
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4CAF50 !important;
}

.padding {
    padding-top: 5px;
}

.slider {
    -webkit-appearance: none;  /* Needed this to override safari's default look */
    appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 200px;
    height: 30px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
}

/* Overriding default CSS of Safari and other browsers */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #4CAF50;
    cursor: pointer;
}

.slider:hover {
    opacity: 1; /* Show when user's mouse hovers over slider */
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #003366;
    cursor: pointer;
}

