{% load staticfiles %}
<html>
    <head>
        <title>piLapser</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'piLapse.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'piLapse.js' %}"></script>
    </head>
    <body>
        <h1>piLapser</h1>
        <div class="form">
            <form method="POST">
                <div class="btn-group">
                    <button onclick="move_pos()" class="btn btn-primary">+</button>
                    <button type="button" class="btn btn-default">-</button>
                </div>
                <br>
            </form>
        </div>
    </body>
</html>
