<form method="POST" action="">
    {% csrf_token %}

    <label for="total_images"># of photos: </label>
    <input id="total_images" type="integer" name="total_images" value="{{ 0 }}">
    <br>
    <label for="shutter_speed">Shutter speed of the camera: </label>
    <input id="shutter_speed" type="integer" name="shutter_speed" value="{{ 0 }}">
    <br>
    <label for="interval"># of photos: </label>
    <input id="interval" type="integer" name="interval" value="{{ 0 }}">
    <br>
    <label for="step_count">Steps between photos: </label>
    <input id="step_count" type="integer" name="step_count" value="{{ 0 }}">
    <br>
    <label for="direction">Left or right: </label>
    <input id="direction" type="integer" name="direction" value="{{ 0 }}">
    <br>
    <input type="submit" value="Submit" />

</form>