{% load staticfiles %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>piLapser</title>

        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'piLapse.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'piLapse.js' %}"></script>

      <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
      <script>
                function move_pos() {
                    $.ajax({
                    type: "POST",
                    url: '/move_pos/'
                    });
                }
                function move_neg() {
                    $.ajax({
                    type: "POST",
                    url: '/move_neg/'
                    });
                }

        </script>

    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/piLapse">piLapser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">New Timelapse
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/get_status">Status</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">New Timelapse</h1>
          <p class="lead">Configure your timelapse below.</p>
          <ul class="list-unstyled">
              <li>Adjust the camera position</li>
              <li>
                <button onclick="move_pos()" class="btn btn-primary">+</button>
                <button onclick="move_neg()" class="btn btn-default">-</button>
              </li>
              <form name="createTimelapse" method="POST" oninput="output1.value=length.value" onsubmit="return validateForm()">
                  {% csrf_token %}

                  <li class="padding"><label for="total_images"># of photos: </label></li>

                  {% if form.errors.total_images %}
                    <div class="error-text">{{ form.errors.total_images }}</div>
                  {% endif %}
                  <li><input id="total_images" type="integer" name="total_images" value="{{ 0 }}"></li>

                  <li class="padding"><label for="interval">Interval between photos: </label></li>

                  {% if form.errors.interval %}
                    <div class="error-text">{{ form.errors.interval }}</div>
                  {% endif %}
                  <li><input id="interval" type="integer" name="interval" value="{{ 0 }}"></li>

                  <li class="padding"><label>Amount of camera movement:</label></li>

                  <li><input type="range" class="slider" name="length" min="-70" max="70" value="0" /></li>
                  <li><output name="output1" for="length">0</output>cm</li>

                  <li class="padding"><button type="submit" class="btn btn-primary">Submit</button></li>
              </form>
          </ul>
        </div>
      </div>
    </div>
  </body>

</html>
