{% load staticfiles %}
<html>
    <head>
        <title>Status</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'piLapse.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'piLapse.js' %}"></script>
    </head>
    <script>
        function get_status()
        {
            $.ajax(
            {
                type: "GET",
                url: "/status/",
                data: status,
                dataType: "text",
                success: function (cur_stat)
                {
                    console.log("It works")
                    $("#cur_status").html(cur_stat);
                }
            });
        }
    </script>

    <body>
        <h1>Status of Timelapse</h1>
        <input type="button" onClick="get_status()" value="Status of Timelapse"/>
        <p id="cur_status"></p>
    </body>
</html>
